

*{

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://t4.ftcdn.net/jpg/03/88/34/91/240_F_388349109_Rq6f7ZqP7NKitbkCkdfm8sSJd1rnb9ls.jpg);
    background-size: cover;
}
  
  #leaderboard {
    width: 70%;
    margin:  auto;
  }
  
  #leaderboard table {
    width: 100%;
    border-collapse: collapse;
  }
  
  #leaderboard th, #leaderboard td {
    margin-top: 50px;
    padding: 15px;
    text-align: center;
    margin-top: 5px;
    font-size:20px;

  }
  
  #leaderboard th {
    background-color: rgb(6, 15, 97);
    font-size:18px;

  }
  
  #addPlayerForm input[type="text"] {
    width: 18%;
    padding: 8px;
    margin-right: 8px;
    border: 1px solid rgb(147, 93, 247);
    font-size: 16px;
    font-weight: 600;
    color: white;
  }
  
  #addPlayerForm button {
    padding: 8px 25px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #1a08be;
    color: rgb(243, 235, 237);
    border: none;
    cursor: pointer;
  }
  
  #addPlayerForm button:hover {
    background-color: #a01eeb;
  }
  h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 30px;
  }
  @media only screen and (max-width: 768px) {
    #leaderboard {
        width: 90%;
    }

    #addPlayerForm input[type="text"] {
        width: 90%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #leaderboard {
        width: 80%;
    }

    #addPlayerForm input[type="text"] {
        width: 25%;
    }
}

@media only screen and (min-width: 1025px) {
}


  